@(location: com.edulify.modules.geolocation.Geolocation)

<html>
  <body>
    @if(location != null) {
      <h2>data for @location.getIp</h2>
      <ul>
        <li><strong>ip:</strong> @location.getIp</li>
        <li><strong>country code:</strong> @location.getCountryCode</li>
        <li><strong>country name:</strong> @location.getCountryName</li>
        <li><strong>region code:</strong> @location.getRegionCode</li>
        <li><strong>region name:</strong> @location.getRegionName</li>
        <li><strong>city:</strong> @location.getCity</li>
        <li><strong>latitude:</strong> @location.getLatitude</li>
        <li><strong>longitude:</strong> @location.getLongitude</li>
        <li><strong>timezone:</strong> @location.getTimeZone</li>
      </ul>
    }
  </body>
</html>